<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <header class="intro-container">
            <div class="intro-wrapper">
                <header class="self-intro">
                    <img class="portrait" src="<%= require('./res/portrait_1920.jpg') %>" alt="photo-of-me" />
                    <section class="description">
                        <div>
                            <h1>Hi! My name is Rin.</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>

                        <ul class="main-links">
                            <!-- https://github.com/jantimon/html-webpack-plugin/issues/1557 -->
                            <li><a href="https://github.com/cjxo" referrerpolicy="no-referrer" target="_blank"><img src="<%= require('./res/github-mark.png') %>" /></a></li>
                            <li><a href="https://www.linkedin.com/" referrerpolicy="no-referrer" target="_blank"><img src="<%= require('./res/In-Blue-26.png') %>" /></a></li>
                            <li><a href="https://x.com/" referrerpolicy="no-referrer" target="_blank"><img src="<%= require('./res/32px-X_logo_2023_original.svg.png') %>" /></a></li>
                        </ul>
                    </section>
                </header>
            </div>
        </header>

        <main>
            <div class="main-wrapper">
                <section class="work-list">
                    <h1>My Work</h1>
                    <div class="project-container">
                    </div>
                </section>
            </div>
        </main>

        <footer>
            <div class="footer-wrapper">
                <section class="contact-info">
                    <h1>Contact Me</h1>
                    <div>
                        Please get in touch if you think
                        our work could me mutually beneficial!
                    </div>
                    
                    <div>
                        <div>1234 Random Road</div>
                        <div>Random Town, California 12345</div>
                    </div>
                    
                    <ul class="contact-list">
                        <li><img src="<%= require('./res/phone.svg') %>" /><span>555-555-5555</span></li>
                        <li><img src="<%= require('./res/email-outline.svg') %>" /><span>epicemail.legit.email@epicness.com</span></li>
                    </ul>
                
                    <ul class="main-links">
                        <li><a href="https://github.com/cjxo" referrerpolicy="no-referrer" target="_blank"><img src="<%= require('./res/github-mark.png') %>" /></a></li>
                        <li><a href="https://www.linkedin.com/" referrerpolicy="no-referrer" target="_blank" style="filter: invert(100%);"><img src="<%= require('./res/In-White-26.png') %>" /></a></li>
                        <li><a href="https://x.com/" referrerpolicy="no-referrer" target="_blank"><img src="<%= require('./res/32px-X_logo_2023_original.svg.png') %>" /></a></li>
                    </ul>
                </section>
                <img class="img-placeholder" src="<%= require('./res/portrait_1920.jpg') %>" alt="photo-of-me" />
            </div>
        </footer>
    </body>
</html>