<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <main>
            <header class="self-intro">
                <section class="portrait"></section>
                <section class="description">
                    <div>
                        <h1>About Me</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <ul class="main-links">
                        <!-- https://github.com/jantimon/html-webpack-plugin/issues/1557 -->
                        <li><a href="#"><img src="<%= require('./res/github-mark.png') %>" /></a></li>
                        <li><a href="#"><img src="<%= require('./res/In-Blue-26.png') %>" /></a></li>
                        <li><a href="#"><img src="<%= require('./res/32px-X_logo_2023_original.svg.png') %>" /></a></li>
                    </ul>
                </section>
            </header>

            <section class="work-list">
                <h1>My Work</h1>
                <!-- TODO: This should be created procedurally in javascript. -->
                <div class="project-container">
                    <section class="project-card">
                        <div class="img-placeholder"></div>
                        <div class="discussion">
                            <div class="header">
                                <h3>Project Name</h3>
                                <ul>
                                    <li><a href="#">github link</a></li>
                                    <li><a href="#">live preview link</a></li>
                                </ul>
                            </div>
                            <p>Short description of the project. Just a couple sentences will do.</p>
                        </div>
                    </section>

                    <section class="project-card">
                        <div class="img-placeholder"></div>
                        <div class="discussion">
                            <div class="header">
                                <h3>Project Name</h3>
                                <ul>
                                    <li><a href="#">github link</a></li>
                                    <li><a href="#">live preview link</a></li>
                                </ul>
                            </div>
                            <p>Short description of the project. Just a couple sentences will do.</p>
                        </div>
                    </section>

                    <section class="project-card">
                        <div class="img-placeholder"></div>
                        <div class="discussion">
                            <div class="header">
                                <h3>Project Name</h3>
                                <ul>
                                    <li><a href="#">github link</a></li>
                                    <li><a href="#">live preview link</a></li>
                                </ul>
                            </div>
                            <p>Short description of the project. Just a couple sentences will do.</p>
                        </div>
                    </section>

                    <section class="project-card">
                        <div class="img-placeholder"></div>
                        <div class="discussion">
                            <div class="header">
                                <h3>Project Name</h3>
                                <ul>
                                    <li><a href="#">github link</a></li>
                                    <li><a href="#">live preview link</a></li>
                                </ul>
                            </div>
                            <p>Short description of the project. Just a couple sentences will do.</p>
                        </div>
                    </section>

                    <section class="project-card">
                        <div class="img-placeholder"></div>
                        <div class="discussion">
                            <div class="header">
                                <h3>Project Name</h3>
                                <ul>
                                    <li><a href="#">github link</a></li>
                                    <li><a href="#">live preview link</a></li>
                                </ul>
                            </div>
                            <p>Short description of the project. Just a couple sentences will do.</p>
                        </div>
                    </section>

                    <section class="project-card">
                        <div class="img-placeholder"></div>
                        <div class="discussion">
                            <div class="header">
                                <h3>Project Name</h3>
                                <ul>
                                    <li><a href="#">github link</a></li>
                                    <li><a href="#">live preview link</a></li>
                                </ul>
                            </div>
                            <p>Short description of the project. Just a couple sentences will do.</p>
                        </div>
                    </section>

                </div>
            </section>
        </main>

        <footer>
            <section class="contact-info">
                <h1>Contact Me</h1>
                <div>
                    Please get in touch if you think
                    our work could me mutually beneficial!
                </div>

                <div>
                    <div>1234 Random Road</div>
                    <div>Random Town, California 12345</div>
                </div>

                <ul>
                    <li><div>Phone # Img</div>555-555-5555</li>
                    <li><div>Email Img</div>epicemail.legit.email@epicness.com</li>
                </ul>

                <ul class="main-links">
                    <li><a href="#"><img src="<%= require('./res/github-mark.png') %>" /></a></li>
                        <li><a href="#"><img src="<%= require('./res/In-Blue-26.png') %>" /></a></li>
                        <li><a href="#"><img src="<%= require('./res/32px-X_logo_2023_original.svg.png') %>" /></a></li>
                </ul>
            </section>
            <div class="img-placeholder">

            </div>
        </footer>
    </body>
</html>