@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: roboto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    border: 1px solid black;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.intro-container {
    display: flex;
    justify-content: center;
    background-color: #0891b2;
}

main {
    display: flex;
    justify-content: center;
}

.main-wrapper, .intro-wrapper {
    max-width: 1200px;
    width: 100%;
}

.intro-wrapper {
    padding: 24px 0px;
}

.portrait {
    width: 520px;

    flex-shrink: 0;
    border-radius: 4px;

    z-index: 2;
    box-shadow: 0px 0px 4px black;

    display: flex;
    align-items: end;
    h3 {
        color: white;
        font-weight: normal;
        font-size: xx-large;
    }
}

.self-intro {
    display: flex;
    align-items: center;
}

.self-intro > .description {
    padding: 12px 24px;
    box-shadow: 0px 0px 4px black;
    font-size: 18px;
    display: flex;
    flex-direction: column;

    > div > p {
        color: grey;
    }

    background-color: white;
}

.main-links {
    display: flex;
    gap: 16px;

    align-self: flex-end;
}

.main-links img {
    width: 24px;
}

.project-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-card {
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
    background-color: white;

    .img-placeholder {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 200px;
        background-color: cyan;
    }
    .header, ul {
        display: flex;
    }
    ul {
        gap: 8px;
        margin-left: auto;

        img {
            width: 24px;
        }
    }
    .discussion {
        padding: 16px 18px;
    }
    p {
        font-size: 14px;
        color: rgb(65, 65, 65);
        max-width: 300px;
    }
}

footer {
    background-color: #0891b2;
    color: white;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    max-width: 1200px;
    width: 100%;
    padding: 32px;

    .img-placeholder {
        width: 640px;
        src: url("./res/portrait_1920.jpg");
        
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        div {
            max-width: 280px;
        }
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        img {
            width: 20px;
            filter:invert(100%);
        }

        li {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .main-links {
        align-self: flex-start;
    }
}